body{
    margin: 10;
}

.container{
    width: auto;
    height: auto;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 100px;

    gap: 10px;

    padding: 10px;
    box-sizing: border-box;
}

.content-long{

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr ;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
}

.content-long-head{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.header{
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
}

.footer{
    grid-column: 1 / span 4;
}

.content-small-2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;

}


.container div{
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}
img{
    width: 100%;
    height: 100%;
}
